

/* Typography */
/* Breakpoints */
$sm: 639px;
$md: 1023px;
$lg: 1279px;

/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$deepRed : #A43226;
$grey: rgba(15, 3, 1, 0.6);
$deepPurple: #1A0503;
$grey80: #E6E9EB;
$grey450: #777F87;
$grey150: #D0D5D9;
$blue200: #EBF5FB;
$blue: #1F8ECC;



/* Components */
